nav, .contenedor, footer, article, header, .principal, aside{
    max-width: 93%;
    margin: auto;
}
nav{
    background-color: rgb(0, 88, 131);
    text-align: center;
    }
.contenedor{
    background-color: rgb(56, 91, 145);
}
footer{
    background-color: rgb(240, 180, 41);
    text-align: center;
}
article{
    background-color: rgb(240, 180, 41);
}
header{

}
.principal{
    display: inline-block;
    width: 65%;
}
aside{
    background-color: rgb(240, 180, 41);
    display: inline-block;
    width: 28%;
}
/* Menu */
.menu li{
    display: inline-block;
}
li a, btnDesplegable{
    display: inline-block;
    color: rgb(240, 180, 41);
    padding: 0.9em 1em;
    text-align: center;
    text-decoration: none;
}
.contenidoDesplegable{
    display: none;
    position: absolute;
    background-color: rgb(0, 88, 131);
    min-width: 8em;
}
.contenidoDesplegable a{
    color: rgb(240, 180, 41);
    padding: 0.9em 1em;
    display: block;
    text-align: left;
}
.contenidoDesplegable a:hover{
    background-color: rgb(125, 125, 125);
}
.desplegable:hover .contenidoDesplegable{
    display: block;
}
li a:hover{
    background-color: rgb(125, 125, 125);
}